<tr>
  <td class="crsheader">
    <span id="crsRestCd" title="Department Approval Required">
      D</span><br>
  </td>
  <td class="crsheader">124</td>
  <td class="crsheader" colspan="5">
    <a href="javascript:openNewWindow('http://www.ucsd.edu/catalog/courses/CAT.html#cat124')"><span
        class="boldtxt">Sixth College Practicum </span> </a>
    ( 4
    Units)
    <br>
  </td>
  <td class="crsheader" colspan="6" align="right">
    <span class="boldtxt" onmouseover="" style="cursor: pointer;"
      onclick="JavaScript:openNewWindow('/scheduleOfClasses/scheduleOfClassesPreReq.htm?termCode=FA24&amp;courseId=CAT124   ');">
      Prerequisites </span> &nbsp;|&nbsp;
    <span class="boldtxt" onmouseover="" style="cursor: pointer;"
      onclick="javascript:openNewWindow('http://courses.ucsd.edu/coursemain.asp?section=526325')">Resources</span>&nbsp;|&nbsp;
    <span class="boldtxt" onmouseover="" style="cursor: pointer;"
      onclick="javascript:openNewTab('https://academicaffairs.ucsd.edu/Modules/Evals/SET/Reports/Search.aspx?courseNumber=CAT+124','CAPE')"><span
        title="CAPE - Course and Professor Evaluations">Evaluations</span></span>
  </td>
</tr>
