<tr class="nonenrtxt">
    <td class="brdr" colspan="2" border="0"></td>
                            
    <td class="brdr">
        
    </td>
    <td class="brdr"><span id="insTyp" title="Final">FI</span></td>
    <td class="brdr">12/13/2024</td>
    
    
        
        
            
                
                
                    <td class="brdr">F      </td>
                    <td class="brdr">8:00a-10:59a</td>
                    <td class="brdr">TBA</td>
                    <td class="brdr">TBA</td>
                
            
            
                    <td class="brdr">
                            
                            
                                
                            
                        
                    </td>
                
                    
                
                    <td class="brdr" colspan="3">&nbsp;</td>
                
            
        
    
</tr>