<tr class="sectxt">
    <td class="brdr" border="0"></td>
    <td class="brdr">
        
    </td>					
    <td class="brdr">
        
            
                
                    &nbsp;
                
                
             
        
    </td>
    <td class="brdr"><span id="insTyp" title="Seminar">SE</span></td>
    <td class="brdr">A00</td>
    
    
        
            <td class="brdr" colspan="8" align="center"><span class="ertext">Cancelled</span></td>
        
        
    
</tr>