<tr class="sectxt">
  <td class="brdr" border="0"></td>
  <td class="brdr">
  </td>
  <td class="brdr">
    561466
  </td>
  <td class="brdr"><span id="insTyp" title="Discussion">DI</span></td>
  <td class="brdr">A06</td>
  <td class="brdr">W </td>
  <td class="brdr">7:00p-7:50p</td>
  <td class="brdr">
    <a href="https://map.concept3d.com/?id=1005#!s/APM_Main?ct/18312" target="_blank">
      APM </a>
  </td>
  <td class="brdr">B402A</td>
  <td class="brdr">
    <a href="#!"
      onclick="javascript:sendMail('/scheduleOfClasses/scheduleOfClassesFacultyEmailResult.htm?pid=Jac942KM/rpZxYZO1xekTw==')">Ioana,
      Adrian </a>
    <br>
  </td>
  <td class="brdr">34</td>
  <td class="brdr">60</td>
  <td class="brdr"><span onmouseover="" style="cursor: pointer;"
      onclick="JavaScript:openNewWindow('https://www.bkstr.com/ucsdtextstore/shop/textbooks-and-course-materials','bookstore');">
      <img src="/scheduleOfClasses/images/book.gif" height="20" width="20">
    </span>
  </td>
</tr>
