<tr class="sectxt">
    <td class="brdr" border="0"></td>
    <td class="brdr">
        
    </td>					
    <td class="brdr">
        
    </td>
    <td class="brdr"><span id="insTyp" title="Laboratory">LA</span></td>
    <td class="brdr">A50</td>
    
    
        
        
            
                
                        <td class="brdr" colspan="4" align="center">TBA</td>													
                
                
            
            
                
                    <td class="brdr">
                            
                            
                                
                            
                        
                    </td>
                    
                        
                             <td class="brdr"><span class="ertext">&nbsp;</span></td>
                            <td class="brdr"><span class="ertext">&nbsp;</span></td>
                        
                        
                         
                        
                    
                    
                        
                             <td class="brdr"><span class="ertext">&nbsp;</span></td>
                        
                        
                    
                
                
            
        
    
</tr>