<tr class="sectxt">
    <td class="brdr" border="0"></td>
    <td class="brdr">
        
    </td>					
    <td class="brdr">
        
            
                
                
                    526440
                
             
        
    </td>
    <td class="brdr"><span id="insTyp" title="Seminar">SE</span></td>
    <td class="brdr">011</td>
    
    
        
        
            
                
                
                    <td class="brdr">TuTh     </td>
                    <td class="brdr">12:30p-1:50p</td>
                    
                        
                        
                            <td class="brdr">
                            TBA</td>
                        
                    
                    <td class="brdr">TBA</td>
                
            
            
                
                    <td class="brdr">
                                
                                
                                    
                                        
                                            <a href="#!" onclick="javascript:sendMail('/scheduleOfClasses/scheduleOfClassesFacultyEmailResult.htm?pid=9FEDfT/WxmehhYMm9h0hvg==')">Vanderschuit, Maya Alysia          </a>
                                        
                                        
                                    
                                    <br>
                                
                            
                            
                        
                    </td>
                    
                        
                        
                         
                        
                            <td class="brdr">12</td>
                            <td class="brdr">20</td>
                        
                    
                    
                        
                        
                            <td class="brdr"><span onmouseover="" style="cursor: pointer;" onclick="JavaScript:openNewWindow('https://www.bkstr.com/ucsdtextstore/shop/textbooks-and-course-materials','bookstore');">
                                <img src="/scheduleOfClasses/images/book.gif" height="20" width="20">
                                </span>
                            </td>	
                        
                    
                
                
            
        
    
</tr>