<tr class="sectxt">
  <td class="brdr" border="0"></td>
  <td class="brdr">
  </td>
  <td class="brdr">
    678343
  </td>
  <td class="brdr"><span id="insTyp" title="Practicum">PR</span></td>
  <td class="brdr">B01</td>
  <td class="brdr" colspan="4" align="center">TBA</td>
  <td class="brdr">
    <a href="#!"
      onclick="javascript:sendMail('/scheduleOfClasses/scheduleOfClassesFacultyEmailResult.htm?pid=doss8/cxjJNLo+xWETAb3g==')">Rose,
      Becca Rae </a>
    <br>
  </td>
  <td class="brdr">5</td>
  <td class="brdr">20</td>
  <td class="brdr"><span onmouseover="" style="cursor: pointer;"
      onclick="JavaScript:openNewWindow('https://www.bkstr.com/ucsdtextstore/shop/textbooks-and-course-materials','bookstore');">
      <img src="/scheduleOfClasses/images/book.gif" height="20" width="20">
    </span>
  </td>
</tr>
